.post {
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        margin-bottom: .5rem;
    }
    .info {
        strong {
            margin-right: 1rem;
        }
    }
}

.ql-snow .ql-editor img {
    width: auto;
    float: left;
    margin: 30px;
}
.ql-editor {
    padding: 0;
}