<form class="card" [formGroup]="form" (ngSubmit)="submit()">
    <h2>Enter admin panel</h2>

    <div class="alert alert-danger" *ngIf="auth.error$ | async as error">{{ error }}</div>
    <div class="alert alert-info" *ngIf="message">{{ message }}</div>
    
    <div 
        [ngClass]="{invalid: form.controls['email']?.touched && form.controls['email']?.invalid}"
        class="form-control"
    >
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email">
        <div
            *ngIf="form.controls['email']?.touched && form.controls['email']?.invalid" 
            class="validation"
        >
            <small *ngIf="form.controls['email'].hasError('required')">
                Enter email fild
            </small>
            <small *ngIf="form.controls['email'].hasError('email')">
                Email fild must be email
            </small>
        </div>
    </div>
    <div 
        [ngClass]="{invalid: form.controls['password']?.touched && form.controls['password']?.invalid}"
        class="form-control"
    >
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password">
        <div 
            *ngIf="form.controls['password']?.touched && form.controls['password']?.invalid" 
            class="validation"
        >
            <small *ngIf="form.controls['password'].hasError('required')">
                Enter password
            </small>
            <small *ngIf="form.controls['password'].hasError('minlength')">
                Fild must be at least 
                {{form.get('password').errors['minlength'].requiredLength }} symbol. Now 
                {{form.get('password').errors['minlength'].actualLength }} symbols.
            </small>
        </div>
    </div>

    <button 
        type="submit" 
        class="btn btn-primary"
        [disabled]="form.invalid || submitted">
        Login</button>
</form>